body{
    margin: 0;
    background: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    place-content: center;
    min-height: 100vh ;
}

.App{
    display: flex;
    flex-direction: column;
    gap: 8px;
}